body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-repeat: repeat;
  background-color: #ecd7b9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23e6c8a8' fill-opacity='1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  max-width: 600px;
  height: auto;
  max-height: 80vh;
  background: white;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.center h1 {
  text-align: center;
  width: 100%;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #d1a98e;
  font-size: 2em;
}

.center h2 {
  text-align: center;
  color: #7c5c4c;
  padding: 20px 0 10px 0;
  font-size: 1.5em;
}

.btn-container {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  gap: 10px;
}

.btn {
  width: 100%;
  display: inline-block;
  flex-grow: 1;
  flex-basis: 0;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  background: #f7e7d2;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  transition: .3s;
  background: #f0d5b8;
  color: #5a3e2b;
}

@media (max-width: 768px) {
  .center {
    width: 85vw;
    padding: 20px;
  }

  .btn-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #d1a98e;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #b78f6f;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .3s;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0px;
  height: 2px;
  background: #b78f6f;
  transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
  top: -5px;
  font-size: 12px;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
  width: 100%;
}

.error-message {
  color: #b8473b;
  text-align: center;
}

.link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #7c5c4c;
}

.link a {
  color: #b78f6f;
  text-decoration: none;
}

.link a:hover {
  transition: .3s;
  color: #5a3e2b;
}

.navbar {
  background-color: #FFF4D9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  color: #7c5c4c;
  gap: 15px;
}

.nav-links a,
.nav-links li {
  padding: 10px;
  text-decoration: none;
  color: #000;
  text-wrap: nowrap;
}

.nav-links a:hover,
.nav-links li:hover {
  color: #5a3e2b;
  background-color: #f5ddbe;
  transition: .3s;
} 

.color-square {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;
}

.char-box {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid;
  text-align: center;
  margin: 2px;
}

.input-container {
  position: relative;
  display: inline-block;
}
.input-container::before {
  content: '#';
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}
.input-container input {
  padding-left: 15px;
}

/* imeline kuusmaa kood*/

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}